*.class
*.d
*.o
*~
.*.sw?
/.clang_complete
/.configmake-recursion
/Build.java
/build.h
/config.h
/config.log
/config.make
/core
/core.[0-9]*[0-9]
/obj/
/src/FlexLexer.h
/src/_src_.c
/src/_src_.z.c
/valgrind_*.log
/vsyswatch
/vsyswatch.core
/vsyswatch.dSYM
